# <span style="color:darkblue"> QTM 151 - Quiz 3 </span>

## Try to submit as an HTML file

<font size="5"> 

Print your name below

In [1]:
# Write your answer here
print("Malia Yap")

Malia Yap

<font size = "5" >
This quiz is open book 

- You can use the lecture notes
- You will get partial credit for attempting the questions
- To get full credit, the code should run as intended
- You should <span style="color:red"> NOT </span> communicate with other students

Print the following message: <br>

"I will abide by Emory's code of conduct"

In [ ]:
# Write your answer here:

print("I will abide by Emory's code of conduct")

<font size = "5">

Import the libraries "numpy" and "pandas"

In [2]:
# Write your answer here

import numpy as np
import pandas as pd


<font size = "5">

(a) Replace the values of a column

<font size = "3">

- Import the "data_raw/constructors.csv" file
- Replace the values "British", "Japanese", and "Irish" with <br>
"UK", "Japan", "Ireland" in the column "nationality"


HINT: See the example in Lecture 12

In [9]:
# Write your own code

constructors = pd.read_csv("/Users/maliayap/Desktop/qtm151spring2025/Quiz3/data_raw/constructors.csv")

names_old = (["British","Japanese","Irish"])
names_new = (["UK","Japan","Ireland"])

constructors["nationality"] = constructors["nationality"].replace(names_old,names_new)

<font size = "5">

(b) Aggregate and query

<font size = "3">

- Import the "data_raw/sprint_results.csv" file
- Subset the observations for 'constructorId == 3' using ```.query()```
- Obtain the maximum of "laps" by "driverId" <br> 
 using ``` .groupby().agg() ```
- Subset the drivers with a maximum of laps $\ge 10$
- Store the results of all these operations in a dataframe <br>
```sprint_results_agg ```

In [48]:
# Write your own code

sprint_results = pd.read_csv("/Users/maliayap/Desktop/qtm151spring2025/Quiz3/data_raw/sprint_results.csv")

sprint_results_agg = (sprint_results.query("constructorId == 3")
            .groupby("driverId")
            .agg(max_laps = ('laps','max'))
            .query("max_laps >=10"))

print(sprint_results_agg)

          max_laps
driverId
847             24
848             23
849             24

<font size = "5">

(c) Recode a numeric colum

<font size = "3">

- Import the "data_raw/races.csv" file
- Recode the "year" column into a new column "year_brackets" <br>
with the following categories

$\qquad$ ``` ["1950-1965","1966-1980","1980-onwards"] ```

$\qquad$ HINT: Use the "pd.cut()" command.

In [25]:
# Write your own code

races = pd.read_csv("/Users/maliayap/Desktop/qtm151spring2025/Quiz3/data_raw/races.csv")

bins_x = [1950,1966,1980,2025]
labels_x = ["1950-1965","1966-1980","1980-onwards"]

races["year"] = pd.cut(races["year"],
                              bins = bins_x,
                              right = True,
                              labels = labels_x)

<font size = "5">

(d) Aggregate and sort

<font size = "3">

- Import the "data_raw/sprint_results.csv" file
- Obtain the maximum of "laps" by "driverId" <br> 
using ``` .groupby().agg() ```
- Sort the teams in descending order using of <br>
the maximum of laps using ``` .sort_values() ```

In [26]:
# Write your own code

(sprint_results
    .groupby("driverId")
    .agg(max_laps = ('laps','max'))
    .sort_values(by = "max_laps", ascending = False))

          max_laps
driverId
1               24
4               24
854             24
853             24
852             24
849             24
847             24
846             24
844             24
842             24
841             24
840             24
839             24
832             24
830             24
825             24
822             24
817             24
815             24
20              24
8               24
855             24
848             23
9               18

<font size = "5">

(e) Rename column

<font size = "3">

- Import the "data_raw/sprint_results.csv" file
- Rename the column "time" to "time_unformatted"

HINT: Create a dictionary and use ```.rename(columns = ...)``` <br>
See Lecture 15

In [28]:
# Write your own code

sprint_results = sprint_results.rename(columns={'time':'time_unformatted'})

<font size = "5">

(f) Merge dataset

<font size = "3">

- Import the "data_raw/sprint_results.csv" and <br>
"data_raw/constructors.csv" files
- Create a new dataset with  ```pd.merge()``` using <br>
"sprint_results" as the primary dataset, and <br>
"constructors" as the secondary dataset, merging on <br>
the column "constructorId"
- To get full points **ONLY** merge the "nationality" column <br>
from the secondary dataset (not all the columns)

HINT: Use ```[[...]]``` to extract a subset of columns <br>
from the secondary dataset before merging, including the <br>
"constructorId" column

In [ ]:
# Write your own code


merged_dataset = pd.merge(sprint_results["constructorId"],
                               constructors[["constructorId","nationality"]],
                               on = "constructorId",
                               how = "left")

     constructorId nationality
0                9    Austrian
1              131      German
2              131      German
3                6     Italian
4                1          UK
..             ...         ...
115            117          UK
116            214      French
117            214      French
118              3          UK
119              3          UK

[120 rows x 2 columns]