# <span style="color:darkblue"> QTM 151 - Assignment 8 </span>

## Try to submit as an HTML file



### Print your name below

In [1]:
print("Malia Yap")

Malia Yap

### Import the "pandas" library

In [2]:
import pandas as pd

### You will need the material from Lecture 14 and 15 for this assignment.



### Import the dataset "imdb_top_1000.csv" and save it as "movies." <br> 
This includes data on the top 1000 movies by IMDB rating.

In [3]:
# Write your answer here

movies = pd.read_csv("/Users/maliayap/Desktop/qtm151spring2025/Assignments/assignment8/data_raw/imdb_top_1000.csv")

### (a) Groupby + Aggregate Statistics

Create a new dataset **"movies_agg"** by grouping the "movies" dataset by **"Genre"** and then computing <br>the following aggregate statistics for **"IMDB_Rating"**:

- **Mean**
- **Standard Deviation**
- **Minimum**
- **Maximum**

Add a chain to sort by the mean IMDB rating in descending order.

Display the resulting dataset **"movies_agg"**.

In [6]:
# Write your own code
movies_agg = (movies.groupby("Genre")
              .agg(mean = ('IMDB_Rating', 'mean'),
                   standard_deviation = ('IMDB_Rating', 'std'),
                   minimum = ('IMDB_Rating', 'min'),
                   maximum = ('IMDB_Rating', 'max'))
              .sort_values(by = "mean", ascending = False))
print(movies_agg)

                            mean  standard_deviation  minimum  maximum
Genre
Animation, Drama, War       8.50                 NaN      8.5      8.5
Drama, Musical              8.40                 NaN      8.4      8.4
Action, Sci-Fi              8.40            0.360555      8.0      8.7
Drama, Mystery, War         8.35            0.070711      8.3      8.4
Western                     8.35            0.420317      7.8      8.8
...                          ...                 ...      ...      ...
Adventure, Comedy, War      7.60                 NaN      7.6      7.6
Animation, Comedy, Crime    7.60                 NaN      7.6      7.6
Action, Adventure, Family   7.60                 NaN      7.6      7.6
Animation, Drama, Romance   7.60                 NaN      7.6      7.6
Action, Adventure, Mystery  7.60                 NaN      7.6      7.6

[202 rows x 4 columns]

### (b) Merge Data

Create a new dataset **"movies_merge"** by merging the aggregate information <br> 
from (a) into "movies".

Display the resulting dataset **"movies_merge"**.

In [9]:
movies_merge = pd.merge(movies["Genre"],
                         movies_agg,
                         on = "Genre",
                         how = "left")

print(movies_merge)

                        Genre      mean  standard_deviation  minimum  maximum
0                       Drama  7.975294            0.305468      7.6      9.3
1                Crime, Drama  8.157692            0.448262      7.6      9.2
2        Action, Crime, Drama  7.880000            0.316664      7.6      9.0
3                Crime, Drama  8.157692            0.448262      7.6      9.2
4                Crime, Drama  8.157692            0.448262      7.6      9.2
..                        ...       ...                 ...      ...      ...
995    Comedy, Drama, Romance  7.877419            0.257824      7.6      8.6
996            Drama, Western  7.980000            0.363318      7.6      8.4
997       Drama, Romance, War  8.025000            0.368556      7.6      8.5
998                Drama, War  8.073333            0.276371      7.6      8.6
999  Crime, Mystery, Thriller  8.133333            0.472582      7.6      8.5

[1000 rows x 5 columns]

### (c) Rename Columns + Dictionaries

Create a new dataset **"movies_rename"** by renaming the following columns in <br>the "movies" dataset using a dictionary:

- "Name" --> **"Movie_Title"**
- "Length" --> **"Runtime"**
- "Gross" --> **"Revenue"**

Verify that this renaming worked by printing the lists of the old ("movies") and new <br>("movies_rename") column names.

In [ ]:

movies_rename = movies.rename(columns={'Name':'Movie_Title','Length':'Runtime','Gross':'Revenue'})
                              
print(list(movies.columns))
print(list(movies_rename.columns))

['Name', 'Released_Year', 'Length', 'Genre', 'IMDB_Rating', 'Overview', 'Director', 'Star1', 'Star2', 'Gross']
['Movie_Title', 'Released_Year', 'Runtime', 'Genre', 'IMDB_Rating', 'Overview', 'Director', 'Star1', 'Star2', 'Revenue']

### (d) Split Data

Use ".query()" to split the "movies_rename" dataset from (c) into different parts:

- Those directed by **Steven Spielberg**, saved to a dataset titled **"movies_spielberg"**
- Those directed by **Christopher Nolan**, saved to a dataset titled **"movies_nolan"**

In [21]:
# Write your own code

movies_spielberg = movies_rename.query("Director == 'Steven Spielberg'")
movies_nolan = movies_rename.query("Director == 'Christopher Nolan'")

### (e) Concatenate Data

Concatenate the datasets you created in (d) to a new dataset titled **"movies_concat"**.

Display the resulting dataset **"movies_concat"**.

In [25]:
# Write your own code

movies_concat = pd.concat([movies_spielberg, movies_nolan])
print(movies_concat)

                            Movie_Title Released_Year  Runtime  \
7                      Schindler's List          1993  195 min
24                  Saving Private Ryan          1998  169 min
72              Raiders of the Lost Ark          1981  115 min
168  Indiana Jones and the Last Crusade          1989  127 min
243                 Catch Me If You Can          2002  141 min
262                       Jurassic Park          1993  127 min
415                                Jaws          1975  124 min
682                    The Color Purple          1985  154 min
688          E.T. the Extra-Terrestrial          1982  115 min
832                   Empire of the Sun          1987  153 min
890                     Bridge of Spies          2015  142 min
951                     Minority Report          2002  145 min
988  Close Encounters of the Third Kind          1977  138 min
2                       The Dark Knight          2008  152 min
8                             Inception          2010  148 min
21                         Interstellar          2014  169 min
36                         The Prestige          2006  130 min
63                The Dark Knight Rises          2012  164 min
69                              Memento          2000  113 min
155                       Batman Begins          2005  140 min
573                             Dunkirk          2017  106 min

                         Genre  IMDB_Rating  \
7    Biography, Drama, History          8.9
24                  Drama, War          8.6
72           Action, Adventure          8.4
168          Action, Adventure          8.2
243    Biography, Crime, Drama          8.1
262  Action, Adventure, Sci-Fi          8.1
415        Adventure, Thriller          8.0
682                      Drama          7.8
688             Family, Sci-Fi          7.8
832     Action, Drama, History          7.7
890   Drama, History, Thriller          7.6
951     Action, Crime, Mystery          7.6
988              Drama, Sci-Fi          7.6
2         Action, Crime, Drama          9.0
8    Action, Adventure, Sci-Fi          8.8
21    Adventure, Drama, Sci-Fi          8.6
36      Drama, Mystery, Sci-Fi          8.5
63           Action, Adventure          8.4
69           Mystery, Thriller          8.4
155          Action, Adventure          8.2
573     Action, Drama, History          7.8

                                              Overview           Director  \
7    In German-occupied Poland during World War II,...   Steven Spielberg
24   Following the Normandy Landings, a group of U....   Steven Spielberg
72   In 1936, archaeologist and adventurer Indiana ...   Steven Spielberg
168  In 1938, after his father Professor Henry Jone...   Steven Spielberg
243  Barely 21 yet, Frank is a skilled forger who h...   Steven Spielberg
262  A pragmatic paleontologist visiting an almost ...   Steven Spielberg
415  When a killer shark unleashes chaos on a beach...   Steven Spielberg
682  A black Southern woman struggles to find her i...   Steven Spielberg
688  A troubled child summons the courage to help a...   Steven Spielberg
832  A young English boy struggles to survive under...   Steven Spielberg
890  During the Cold War, an American lawyer is rec...   Steven Spielberg
951  In a future where a special police unit is abl...   Steven Spielberg
988  Roy Neary, an electric lineman, watches how hi...   Steven Spielberg
2    When the menace known as the Joker wreaks havo...  Christopher Nolan
8    A thief who steals corporate secrets through t...  Christopher Nolan
21   A team of explorers travel through a wormhole ...  Christopher Nolan
36   After a tragic accident, two stage magicians e...  Christopher Nolan
63   Eight years after the Joker's reign of anarchy...  Christopher Nolan
69   A man with short-term memory loss attempts to ...  Christopher Nolan
155  After training with his mentor, Batman begins ...  Christopher Nolan
573  Allied soldiers from Belgium, the British Empi...  Christopher Nolan

                   Star1                 Star2      Revenue
7            Liam Neeson         Ralph Fiennes   96,898,818
24             Tom Hanks            Matt Damon  216,540,909
72         Harrison Ford           Karen Allen  248,159,971
168        Harrison Ford          Sean Connery  197,171,806
243    Leonardo DiCaprio             Tom Hanks  164,615,351
262            Sam Neill            Laura Dern  402,453,882
415         Roy Scheider           Robert Shaw  260,000,000
682         Danny Glover       Whoopi Goldberg   98,467,863
688         Henry Thomas        Drew Barrymore  435,110,554
832       Christian Bale        John Malkovich   22,238,696
890            Tom Hanks          Mark Rylance   72,313,754
951           Tom Cruise         Colin Farrell  132,072,926
988     Richard Dreyfuss     Fran√ßois Truffaut  132,088,635
2         Christian Bale          Heath Ledger  534,858,444
8      Leonardo DiCaprio  Joseph Gordon-Levitt  292,576,195
21   Matthew McConaughey         Anne Hathaway  188,020,017
36        Christian Bale          Hugh Jackman   53,089,891
63        Christian Bale             Tom Hardy  448,139,099
69            Guy Pearce      Carrie-Anne Moss   25,544,867
155       Christian Bale         Michael Caine  206,852,432
573      Fionn Whitehead         Barry Keoghan  188,373,161